
<table class="profile">
  <tr>
    <td class="main">
	<h1><%= @user.name %></h1>
	  <% if !@user.microposts.nil? %>
	    <table class="microposts">
	      <% @microposts.each do |micropost| %>

  </tr>
	<tr>
  	<td class="micropost">
   	<h3><span class="title">Title: <%= micropost.title %></span><br/>
   	 <span class="content"><%= micropost.content %></span><br/></h3>
	 <%if micropost.comments.count!= 0%>
	   <% micropost.comments.each do |comment|%>
	   </tr>
  	   <td class="comment">
	   <div style="text-indent:2em">
   	    <span class="content"> 
		<%= link_to comment.user.name,user_path(comment.user)%>: 
		<%= comment.content %></span></div>	
		
		<div style="text-indent:2em">
		<%= "commented "%>	  
	    <span class="timestamp">
	        at <%= comment.created_at %>
	   <% if current_user == comment.user %>
	         <%= link_to "Delete",comment, :method => :delete,
						  :confirm => "Are you sure?",	
						:title => comment.content %><br/></div>
	   <% end %>
	  <% end %></div>
	<% end %>
	<br/>
   	 <span class="timestamp">
	Posted at <%= micropost.created_at %><br/> <%= micropost.comments.count%>
	<%="comments"%>
	<% if current_user == micropost.user %>
	  <%= link_to "Delete",micropost, :method => :delete,
						  :confirm => "Are you sure?",	
						:title => micropost.content %>
	<% end %>
	<% if current_user!=nil %>
	   <%= form_for([micropost,@comment]) do |f|%>
	    <div class="field">
 	    <%= f.text_field :content %></div>
	      <button class = "btn" type="submit">
  		 Comment
	      </button>
	      <% end %>
             <% end %>
             </span>
            
          </tr></td>
	<% end %>	   
     <% end %>
   </td></table>
    <td class="sidebar round">
	<strong>Name</strong> <%= @user.name %><br/>
	<strong>Email</strong> <%= @user.email %><br/>
	<strong>URL</strong> <%= link_to user_path(@user),@user %><br/>
	<strong>Microposts</strong> <%= @user.microposts.count %>
	<% if current_user == @user %>
	  <br/>
	
	  <%= link_to "Edit My Account", edit_user_path(@user) %>
	<% end %>
    </td>
  </tr>
</table>
<% if current_user.nil? %>
<%= link_to 'Sign In to comment', signin_path %>&nbsp&nbsp&nbsp&nbsp&nbsp
<% end %>
<%= link_to 'Back', users_path %>






